@import "../../../assets/styles/vars.scss";

.gallery {
    padding: 20px 0 0;
    @include mobile {
        padding-top: 10px;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    border-radius: 60px;
    overflow: hidden;
    @include tablet {
        border-radius: 40px;
    }
    @include mobileMiddle {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        border-radius: 20px;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
