@import "../../../assets/styles/vars.scss";

.timerCount {
    text-align: center;
}

.count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    font-size: 28px;
    font-weight: 700;
    color: $white;
    border: 1px solid $white;
    border-radius: 15px;
    margin-bottom: 6px;
}

.label {
    font-size: 16px;
    color: $white;
}
