{
    "env": {
        "browser": true,
        "es2021": true,
        "jest": true
    },
    "extends": [
        "react-app", 
        "react-app/jest", 
        "airbnb", 
        "airbnb/hooks", 
        "airbnb-typescript",
        "plugin:import/typescript",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
            },
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": "./tsconfig.json"
    
    },
    "plugins": [
        "react",
        "@typescript-eslint",
        "prettier"
    ],
    "rules": {
        "react/react-in-jsx-scope": "off",
        "react/function-component-definition": ["warn", {
            "namedComponents": ["arrow-function", "function-declaration"],
            "unnamedComponents": "arrow-function"
        }],
        "@typescript-eslint/no-unused-vars": "warn",
        "react/no-unused-prop-types": "warn",
        "prefer-const": "warn",
        "react/require-default-props": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "react/jsx-props-no-spreading": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "import/prefer-default-export": "off"
    },
    "parser": "@typescript-eslint/parser"
}
