@import "../../../assets/styles/vars.scss";

.slide {
    border-radius: 30px;
    overflow: hidden;
    max-width: 100%;
    height: 600px;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.dots {
    bottom: -32px;
    li {
        button {
            &::before {
                font-size: 14px;
            }
        }
    }
}
