@import "../../../assets/styles/vars.scss";

.button {
    background: linear-gradient(
        180deg,
        #353535 0%,
        #343434 52.69%,
        #282828 100%
    );
    border: 1px solid rgba(210, 210, 210, 0.9);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    color: rgba($white, 0.7);
    text-align: center;
    font-family: $fontFamily;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    padding: 7px 20px;
    width: 100%;
    cursor: pointer;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.icon {
    position: absolute;
    top: 6px;
    &.left {
        left: 20px;
    }
    &.right {
        right: 20px;
    }
}
