@import "../../../assets/styles/vars.scss";

.section {
    padding: 20px 0;
}

.wrapper:first-child {
    margin-bottom: 20px;
}

.participants {
    @include mobile {
        font-size: 16px;
    }
    @include mobileMiddle {
        font-size: 14px;
    }
}