.imageWrapper {
    position: relative;
    background-size: cover;
    background-position: center;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        animation: pulse 2.5s infinite;
    }
    &.loaded {
        &::before {
            content: none;
            animation: none;
        }
        img {
            opacity: 1;
        }
    }
    img {
        object-position: center;
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity 0.25s ease-in;
    }
}

@keyframes pulse {
    0% {
        background-color: rgba(#fff, 0);
    }
    50% {
        background-color: rgba(#fff, 0.1);
    }
    100% {
        background-color: rgba(#fff, 0);
    }
}
