@import "../../../assets/styles/vars.scss";

.section {
    padding: 45px 0 20px;
    @include mobile {
        padding: 10px 0;
    }
}

.title {
    font-weight: 600;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    @include tablet {
        font-size: 33px;
    }
    @include mobile {
        font-size: 29px;
    }
    @include mobileMiddle {
        font-size: 24px;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
    @include mobileSmall {
        font-size: 18px;
    }
    &::after {
        content: "";
        width: 300px;
        height: 2px;
        background-color: #e0e0e0;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 10px;
        @include mobileMiddle {
            width: 200px;
        }
        @include mobileSmall {
            width: 150px;
        }
    }
}

.description {
    padding: 0 40px;
    @include mobile {
        padding: 0;
    }
}

.text {
    font-size: 20px;
    &:not(:last-child) {
        margin-bottom: 15px;
    }
    @include mobile {
        font-size: 16px;
    }
    @include mobileSmall {
        font-size: 14px;
    }
}
