@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "./vars.scss";

html,
body,
#root {
    min-height: 100%;
    width: 100%;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $white;
}

.button {
    font-family: inherit;
}

.visually-hidden {
    position: fixed;
    font-size: 0;
    left: -1000px;
    top: -1000px;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
