//<====Breakpoints=====>
$pcBig: 1440px; //большие мониторы
$pc: 1170px; //пк и ноутбуки
$tablet: 991.98px; //планшеты
$mobile: 767.96px; //телефоны
$mobileMiddle: 677px; //телефоны
$mobileSmall: 479.98px; //телефоны

//<=====Font========>
$fontFamily: "Lato", sans-serif;
$fontSize: 16px;

//<=====Colors========>
$black: #000;
$white: #fff;
$yellow: #ffc93d;
$green: #72fc05;
$grey: #d2d2d2;
$blue: #2e1d67;
