$containerWidth: 1480px;

//<====Breakpoints=====>
$pcBig: 1480px; //большие мониторы
$pc: 1170px; //пк и ноутбуки
$tablet: 991.98px; //планшеты
$mobile: 767.96px; //телефоны
$mobileMiddle: 677px; //телефоны
$mobileSmall: 479.98px; //телефоны

//<=====Font========>
$fontFamily: "Montserrat", sans-serif;
$fontSize: 16px;

//<=====Colors========>
$black: #000;
$white: #fff;
$yellow: #ffc93d;
$green: #72fc05;
$grey: #d2d2d2;
$blue: #2e1d67;
$lightBlue: #4c20e1;
$red: #b30505;
$purple: #5f4180;

// <====Media queries====>
@mixin pcBig {
    @media (max-width: $pcBig) {
        @content;
    }
}

@mixin pc {
    @media (max-width: $pc) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin mobileMiddle {
    @media (max-width: $mobileMiddle) {
        @content;
    }
}

@mixin mobileSmall {
    @media (max-width: $mobileSmall) {
        @content;
    }
}
