.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.41px;
    min-width: 32px;
    min-height: 32px;
    padding: 6.34px 5.73px 4.41px 6.6px;
    border: 2px solid;
    background: linear-gradient(rgba(255, 253, 252, 1), rgba(255, 255, 255, 1));
    color: white;
    border-radius: 10px;
    background: #242222;
    box-shadow:
        0px 0px 20px 0px rgba(0, 0, 0, 0.6),
        0px 7px 0px 0px #000;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    color: #d9d9d9;
}
