@import "../../../assets/styles/vars.scss";

.intro {
    height: 100vh;
    padding-top: 20px;
    background: linear-gradient(
        247.11deg,
        #e3e7f6 3.56%,
        rgba(227, 231, 246, 0) 115.17%
    );
}

.wrapper {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 40px 50px;
    background-color: $blue;
    overflow: hidden;
    // img {
    //     height: 500px;
    //     width: 60%;
    //     max-width: 100%;
    //     border-radius: 0 10px 10px 0;
    //     display: block;
    // }
}

.timer {
    margin-top: 20px;
}
